## Meu primeiro notebook

In [3]:
#soma
2 + 2

4

In [4]:
import numpy as np

In [5]:
np.abs(-2)

2

### lista

In [6]:
#lista
{2,3,4}

{2, 3, 4}

In [7]:
import pandas as pd

### criando tabela

In [13]:
d = {'coluna1': [1,2], 'coluna2': [3,4]}

pd.DataFrame(d)

   coluna1  coluna2
0        1        3
1        2        4

In [9]:
d = {'coluna1': [1,2], 'coluna2': [3,4]}
data = pd.DataFrame(d)

### salvando e lendo arquivos

In [10]:
# cria um arquivo csv com os dados da tabela 
data.to_csv("dados.csv", index=False)

In [11]:
pd.read_csv("dados.csv")

   coluna1  coluna2
0        1        3
1        2        4