### importando sqlite e criando a conexão com o banco

In [21]:
import sqlite3

conn = sqlite3.connect('banco_salao.db')

### criando tabelas e estabelecendo conexao com o banco

In [22]:
table_cliente = """
create table if not exists cliente (
id_cliente INTEGER PRIMARY KEY AUTOINCREMENT,
nome_cliente VARCHAR(40) NOT NULL,
telefone_cliente VARCHAR(20) NOT NULL,
email_cliente VARCHAR(50) NOT NULL
);
"""
conn.execute(table_cliente)
conn.commit()

In [23]:
create_table_produto = """
CREATE TABLE IF NOT EXISTS produto (
id_produto INTEGER PRIMARY KEY AUTOINCREMENT,
nome_produto VARCHAR(50) NOT NULL,
descricao_produto VARCHAR(100),
preco_produto DECIMAL(10,2) NOT NULL
);
"""
conn.execute(create_table_produto)
conn.commit()

In [24]:
create_table_servico = """
CREATE TABLE IF NOT EXISTS servico (
id_servico INTEGER PRIMARY KEY AUTOINCREMENT,
nome_servico VARCHAR(50) NOT NULL,
descricao_servico VARCHAR(100),
preco_servico DECIMAL(10,2) NOT NULL
);
"""
conn.execute(create_table_servico)
conn.commit()

In [25]:

create_table_agendamento_servico = """
CREATE TABLE IF NOT EXISTS agendamento_servico (
id_agendamento INTEGER PRIMARY KEY AUTOINCREMENT,
id_cliente INTEGER NOT NULL,
id_servico INTEGER NOT NULL,
dia_agendamento DATE NOT NULL,
hora_agendamento TIME NOT NULL,
status_agendamento VARCHAR(10) NOT NULL,
 FOREIGN KEY (id_cliente) REFERENCES cliente (id_cliente),
 FOREIGN KEY (id_servico) REFERENCES servico (id_servico)
);
"""
conn.execute(create_table_agendamento_servico)
conn.commit()

In [26]:
create_table_pagar_servico = """
create table if not exists pagar_servico (
id_pagamento_servico integer primary key autoincrement,
id_servico integer not null,
id_cliente integer not null,
forma_pagamento VARCHAR(20) not null,
foreign key (id_servico) references servico (id_servico),
foreign key (id_cliente) references cliente (id_cliente)
);
"""
conn.execute(create_table_pagar_servico)
conn.commit()

In [27]:
create_table_pagar_produto = """
create table if not exists pagar_produto (
id_pagamento_produto integer primary key autoincrement,
id_produto integer not null,
id_cliente integer not null,
forma_pagamento VARCHAR(20) not null,
foreign key (id_produto) references produto (id_produto),
foreign key (id_cliente) references cliente (id_cliente)
);
"""
conn.execute(create_table_pagar_produto)
conn.commit()

### criando listas dos dados e inserindo nas tabelas (populando banco)

In [28]:
lista_clientes = [
('julia didra', '98546184', 'juliadidra22@gmail.com'),
('wilza minhaque', '86986526', 'wilzaminhaque@gmail.com'),
('alessandra raissa', '997317744', 'alessandra@gmail.com'),
('joao pedro', '984562436', 'joaopedroe@gmail.com'),
('giliandra costa', '97845326', 'gicosta@gmail.com'),
('maria do carmo', '985426590', 'mcarmen@gmail.com'),
('alexandro bezerra', '978589623', 'alexbezerra@gmail.com'),
('daniela diniz', '32519403', 'danidiniz@gmail.com'),
('kamille isabel', '95169746', 'kism@gmail.com'),
('bernardo braga', '921357946', 'bernabraga@gmail.com')
]

cursor = conn.cursor()
cursor.executemany("""
    INSERT INTO cliente (nome_cliente, telefone_cliente, email_cliente)
    VALUES (?,?,?)
""", lista_clientes)

conn.commit()

In [29]:
lista_servicos = [
('Corte masculino', 'Corte para homens', 35.00),
('Corte feminino', 'Corte de cabelo estilizado para mulheres', 45.00),
('Coloração de cabelo', 'tintura completa', 80.00),
('hidratação wella', 'hidratação flex wella', 70.00),
('escova', 'escova cabelo longo', 50.00),
('Pedicure', 'Cuidado e esmaltação dos pés', 30.00),
('Design de sobrancelhas', 'Modelagem e correção das sobrancelhas', 20.00),
('realinhamento tecnico', 'progressiva fit, cabelo p', 100.00),
('botox capilar', 'botox fit, cabelo p', 80.00),
('morena iluminada', 'mechas em cabelo M', 300.00)
]

cursor = conn.cursor()
cursor.executemany(""" 
    INSERT into servico ( nome_servico, descricao_servico, preco_servico)
    VALUES (?,?,?)
""", lista_servicos)

conn.commit()

In [30]:
lista_produtos = [
('Shampoo', 'Shampoo wella', 129.99),
('Condicionador', 'Condicionador wella', 129.99),
('Máscara capilar', 'Máscara de tratamento fit', 100.00),
('kit tratamento', 'kit fit', 79.99),
('pulseira pandora', 'pulseira pandora versão cor verde', 159.99),
('brinco coração', 'brinco prata coração em zirconias', 79.99),
('anel coração', 'anel coração prata', 59.99),
('Óleo corporal', 'Óleo hidratante natura', 50.00),
('Creme facial', 'Creme hidratante para o rosto boticario', 70.00),
('Loção corporal', 'Loção hidratante para o corpo boticario', 90.00)
]

cursor = conn.cursor()
cursor.executemany(""" 
    INSERT into produto ( nome_produto, descricao_produto, preco_produto)
    VALUES (?,?,?)
""", lista_produtos)

conn.commit()

In [31]:
lista_agendamento = [
(1, 1, '2023-05-14', '09:00:00', 'Agendado'),
(2, 3, '2023-05-15', '14:30:00', 'Cancelado'),
(3, 2, '2023-05-16', '11:00:00', 'Agendado'),
(4, 1, '2023-05-17', '10:30:00', 'Agendado'),
(5, 2, '2023-05-18', '15:00:00', 'Pendente'),
(6, 1, '2023-05-19', '13:30:00', 'Agendado'),
(7, 3, '2023-05-20', '16:00:00', 'Agendado'),
(8, 2, '2023-05-21', '11:30:00', 'Cancelado'),
(9, 1, '2023-05-22', '14:00:00', 'Agendado'),
(10, 3, '2023-05-23', '12:00:00', 'Agendado')
]

cursor = conn.cursor()
cursor.executemany(""" 
    INSERT into agendamento_servico ( id_cliente, id_servico, dia_agendamento, hora_agendamento, status_agendamento)
    VALUES (?,?,?,?,?)
""", lista_agendamento)

conn.commit()

In [32]:
lista_pagar_servico = [
(1, 1, 'Cartão Crédito'),
(2, 3, 'Dinheiro'),
(3, 2, 'Cartão Débito'),
(2, 4, 'Dinheiro'),
(1, 5, 'Cartão Crédito'),
(3, 6, 'Pix'),
(1, 7, 'Pix'),
(2, 8, 'Cartão Crédito'),
(3, 9, 'Pix'),
(1, 10, 'Cartão Débito')
]

cursor = conn.cursor()
cursor.executemany(""" 
    INSERT into pagar_servico ( id_servico, id_cliente, forma_pagamento)
    VALUES (?,?,?)
""", lista_pagar_servico)

conn.commit()

In [33]:
lista_pagar_produto = [
(1, 1, 'Cartão Crédito'),
(3, 3, 'Pix'),
(2, 2, 'Cartão Débito'),
(3, 4, 'Pix'),
(1, 5, 'Cartão Crédito'),
(2, 6, 'Cartão Crédito'),
(3, 7, 'Dinheiro'),
(1, 8, 'Pix'),
(2, 9, 'Dinheiro'),
(3, 10, 'Cartão Débito')
]

cursor = conn.cursor()
cursor.executemany(""" 
    INSERT into pagar_produto ( id_produto, id_cliente, forma_pagamento)
    VALUES (?,?,?)
""", lista_pagar_produto)

conn.commit()

## joins

In [35]:
import pandas as pd
import numpy as np

#### consulta da tabela de pagamento de serviço incluindo o nome do cliente e o serviço escolhido

In [50]:
query_pagamento_servico = """
SELECT pagar_servico.*, cliente.nome_cliente, servico.nome_servico
FROM pagar_servico
JOIN cliente ON pagar_servico.id_cliente = cliente.id_cliente
JOIN servico ON pagar_servico.id_servico = servico.id_servico;
"""
query = pd.read_sql_query(query_pagamento_servico, conn) #executando a query 
df = pd.DataFrame(query) #transformando a query em dataframe
csv = df.to_csv("Join_servico.csv", index=False) #transformando o dataframe em csv

conn.commit() #salvando possiveis alterações
pd.read_csv("Join_servico.csv") #lendo csv com pandas

,id_pagamento_servico,id_servico,id_cliente,forma_pagamento,nome_cliente,nome_servico
0,1,1,1,Cartão Crédito,julia didra,Corte masculino
1,2,2,3,Dinheiro,alessandra raissa,Corte feminino
2,3,3,2,Cartão Débito,wilza minhaque,Coloração de cabelo
3,4,2,4,Dinheiro,joao pedro,Corte feminino
4,5,1,5,Cartão Crédito,giliandra costa,Corte masculino
5,6,3,6,Pix,maria do carmo,Coloração de cabelo
6,7,1,7,Pix,alexandro bezerra,Corte masculino
7,8,2,8,Cartão Crédito,daniela diniz,Corte feminino
8,9,3,9,Pix,kamille isabel,Coloração de cabelo
9,10,1,10,Cartão Débito,bernardo braga,Corte masculino

#### Consulta de todos os agendamentos de serviço, incluindo informações do cliente e do serviço agendado

In [51]:
query_qnt_agendamento = """SELECT cliente.nome_cliente, COUNT(agendamento_servico.id_agendamento) AS total_agendamentos
FROM cliente
LEFT JOIN agendamento_servico ON cliente.id_cliente = agendamento_servico.id_cliente
GROUP BY cliente.id_cliente;"""

query = pd.read_sql_query(query_qnt_agendamento, conn)
df = pd.DataFrame(query)
csv = df.to_csv("Join_agendamento.csv", index=False)

conn.commit()
pd.read_csv("Join_agendamento.csv")

        nome_cliente  total_agendamentos
0        julia didra                   1
1     wilza minhaque                   1
2  alessandra raissa                   1
3         joao pedro                   1
4    giliandra costa                   1
5     maria do carmo                   1
6  alexandro bezerra                   1
7      daniela diniz                   1
8     kamille isabel                   1
9     bernardo braga                   1

#### Consulta de todos os pagamentos de produtos, incluindo informações do cliente e do produto pago

In [57]:
query_pagamento_produto = """SELECT pagar_produto.id_pagamento_produto, cliente.nome_cliente, produto.nome_produto, pagar_produto.forma_pagamento
FROM pagar_produto
JOIN cliente ON pagar_produto.id_cliente = cliente.id_cliente
JOIN produto ON pagar_produto.id_produto = produto.id_produto;"""

query = pd.read_sql_query(query_pagamento_produto, conn) 
df = pd.DataFrame(query)
csv = df.to_csv("Join_pagamento.csv", index=False)

conn.commit()
pd.read_csv("Join_pagamento.csv")

   id_pagamento_produto       nome_cliente     nome_produto forma_pagamento
0                     1        julia didra          Shampoo  Cartão Crédito
1                     2  alessandra raissa  Máscara capilar             Pix
2                     3     wilza minhaque    Condicionador   Cartão Débito
3                     4         joao pedro  Máscara capilar             Pix
4                     5    giliandra costa          Shampoo  Cartão Crédito
5                     6     maria do carmo    Condicionador  Cartão Crédito
6                     7  alexandro bezerra  Máscara capilar        Dinheiro
7                     8      daniela diniz          Shampoo             Pix
8                     9     kamille isabel    Condicionador        Dinheiro
9                    10     bernardo braga  Máscara capilar   Cartão Débito